<!-- /.card-header -->
<div class="card-body">
  <form action="/admin/category/add" method="POST">
    <div class="row justify-content-center">
      <div class="col-sm-6">
        <!-- text input -->
        <div class="form-group">
          <label>Название категория</label>
          <input type="text" class="form-control" placeholder="Enter ..." name="title" required/>
        </div>
      </div>
    </div>
    <div class="row justify-content-center">
      <div class="col-sm-6">
        <!-- textarea -->
        <div class="form-group">
          <label>Текст категория</label>
          <textarea
            class="form-control"
            rows="3"
            placeholder="Enter ..."
            style="resize: none;"
            name="text"
            required
          ></textarea>
        </div>
      </div>
    </div>
    <div class="row justify-content-center">
      <div class="col-sm-6">
        <button type="submit" class="btn btn-primary">Создать</button>
      </div>
    </div>

  </form>
</div>
<!-- /.card-body -->