<aside class="main-sidebar sidebar-dark-primary elevation-4">
  <!-- Brand Logo -->
  <a href="/admin" class="brand-link">
    <span class="brand-text font-weight-light">Bio Lab</span>
  </a>

  <!-- Sidebar -->
  <div class="sidebar">
    <!-- Sidebar user panel (optional) -->
    <div class="user-panel mt-3 pb-3 mb-3 d-flex">
      <div class="image">
        <img
          src="/images/{{user.avatar}}"
          class="img-circle elevation-2"
          alt="User Image"
        />
      </div>
      <div class="info">
        <a href="/admin/edit/{{user._id}}" class="d-block">{{user.fullname}}</a>
      </div>
    </div>

    <!-- Sidebar Menu -->
    <nav class="mt-2">
      <ul
        class="nav nav-pills nav-sidebar flex-column"
        data-widget="treeview"
        role="menu"
        data-accordion="false"
      >
        <li class="nav-item">
          <a href="#" class="nav-link">
            <i class="nav-icon fas fa-th"></i>
            <p>
              Категории
              <i class="right fas fa-angle-left"></i>
            </p>
          </a>
          <ul class="nav nav-treeview">
            <li class="nav-item">
              <a href="/admin/category/add" class="nav-link">
                <i class="far fa-circle nav-icon"></i>
                <p>Создать</p>
              </a>
            </li>
            <li class="nav-item">
              <a href="/admin/categories" class="nav-link">
                <i class="far fa-circle nav-icon"></i>
                <p>Посмотреть</p>
              </a>
            </li>
          </ul>
        </li>
        <li class="nav-item">
          <a href="#" class="nav-link">
            <i class="nav-icon fas fa-th"></i>
            <p>
              Продукты
              <i class="right fas fa-angle-left"></i>
            </p>
          </a>
          <ul class="nav nav-treeview">
            <li class="nav-item">
              <a href="/admin/product/add" class="nav-link">
                <i class="far fa-circle nav-icon"></i>
                <p>Создать</p>
              </a>
            </li>
            <li class="nav-item">
              <a href="/admin/products" class="nav-link">
                <i class="far fa-circle nav-icon"></i>
                <p>Посмотреть</p>
              </a>
            </li>
          </ul>
        </li>
        <li class="nav-item">
          <a href="#" class="nav-link">
            <i class="nav-icon fas fa-th"></i>
            <p>
              Партнеры
              <i class="right fas fa-angle-left"></i>
            </p>
          </a>
          <ul class="nav nav-treeview">
            <li class="nav-item">
              <a href="/admin/partner/add" class="nav-link">
                <i class="far fa-circle nav-icon"></i>
                <p>Создать</p>
              </a>
            </li>
            <li class="nav-item">
              <a href="/admin/partners" class="nav-link">
                <i class="far fa-circle nav-icon"></i>
                <p>Посмотреть</p>
              </a>
            </li>
          </ul>
        </li>
        <li class="nav-item">
          <a href="#" class="nav-link">
            <i class="nav-icon fas fa-th"></i>
            <p>
              Блоги
              <i class="right fas fa-angle-left"></i>
            </p>
          </a>
          <ul class="nav nav-treeview">
            <li class="nav-item">
              <a href="/admin/blog/add" class="nav-link">
                <i class="far fa-circle nav-icon"></i>
                <p>Создать</p>
              </a>
            </li>
            <li class="nav-item">
              <a href="/admin/blogs" class="nav-link">
                <i class="far fa-circle nav-icon"></i>
                <p>Посмотреть</p>
              </a>
            </li>
          </ul>
        </li>
      </ul>
    </nav>
    <!-- /.sidebar-menu -->
  </div>
  <!-- /.sidebar -->

</aside>